* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
	background-color: #f1f1f1;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem;
	border-bottom: 2px solid #242424;
}
nav a {
	color: #8138ee;
	text-decoration: none;
	font-size: 18px;
}
nav a .fa-github {
	font-size: 26px;
}

.about {
	padding: 2rem 3rem;
	width: 75%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 1.4em;
	color: #383838;
}

.challenges {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	padding: 2rem 3rem;
}
.challenges a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #242424;
	height: 6rem;
	font-weight: 500;
	font-size: 18px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	position: relative;
	border: 2px solid #e6e6e6;
	text-decoration: none;
}
.challenges a:hover {
	outline: 2px solid #4895ef;
	/* outline: 2px solid #8138ee67; */
	outline-offset: 3px;
}

.challenges a.in-progress,
.challenges a.idea {
	background-color: #f1f1f1;
	cursor: default;
	color: #909090;
}

.challenges a.in-progress:hover,
.challenges a.idea:hover {
	outline: none;
}
.ribbon {
	--t: 4px;
	--r: 7px;
	--f: 8px;

	position: absolute;
	inset: var(--t) calc(-1 * var(--f)) auto auto;
	padding: 0 10px var(--f) calc(10px + var(--r));
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - var(--f)),
		calc(100% - var(--f)) 100%,
		calc(100% - var(--f)) calc(100% - var(--f)),
		0 calc(100% - var(--f)),
		var(--r) calc(50% - var(--f) / 2)
	);
	color: #f1f1f1;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.6rem;
}

.ribbon.in-progress {
	background: #e23636;
	box-shadow: 0 calc(-1 * var(--f)) 0 inset #971f1f;
}

.ribbon.new {
	background: #82dd55;
	box-shadow: 0 calc(-1 * var(--f)) 0 inset #3f7823;
}
.ribbon.idea {
	background: #4895ef;
	box-shadow: 0 calc(-1 * var(--f)) 0 inset #214a79;
}

.commit-date {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a7a7a7;
	margin-top: 6rem;
}
